/* Global CSS declarations*/

@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap");

:root {
  /* Colors */
  --color-secondary: #fda214;
  --color-primary: #7191a5;
  --color-primary-light-1: #6395b8;
  --color-primary-light-2: #bcced9;
  --color-primary-dark-1: #304859;
  --color-primary-dark-2: #152938;
  --color-gray-light-1: #f2f2f2;
  --color-gray-light-2: #fcfcfc;
}

/* Global CSS Reset*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root font-size */
html {
  font-size: 62.5%; /*1rem = 10px/16px = 62.25%*/
}

.icon::before {
  font: var(--fa-font-solid);
  font-size: 5.6rem;
  font-weight: 900;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

/* Typography */

body {
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: var(--color-primary-dark-2);
}

h1 {
  font-size: 4.8rem;
  line-height: 6rem;
}

h2 {
  font-size: 3.2rem;
  line-height: 4rem;
}

h3 {
  font-size: 2rem;
  line-height: 2.5rem;
}

.btn-text {
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 3.2rem;
  text-align: center;
  color: var(--color-gray-light-2);
}

.start-logo {
  font-size: 4rem;
  line-height: 5rem;
  color: var(--color-gray-light-2);
}

.medium-text {
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4rem;
  color: var(--color-gray-light-2);
}

.big-text {
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 700;
  font-size: 5.6rem;
  line-height: 6.9rem;
  color: var(--color-primary-dark-2);
}

.stats-text {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: var(--color-primary);
}

.stats-num {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4rem;
  color: var(--color-primary-dark-1);
}

/* Buttons */

.btn {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  box-sizing: border-box;
}

.menu-button--big {
  width: 100%;
  height: 7rem;
  padding: 1.6rem auto 1.4rem;
  background: var(--color-secondary);
  border-radius: 3.5rem;
  opacity: 1;
}

.menu-button--big:hover {
  opacity: 0.8;
}

.menu-button-select {
  width: 256px;
  height: 5.2rem;
  padding: 1.1rem auto 0.9rem;
  background: var(--color-primary-light-2);
  border-radius: 2.6rem;
}

.menu-button-select:hover {
  background: var(--color-primary-light-1);
}

.menu-button-select--num {
  width: 119px;
  height: 5.2rem;
  padding: 1.1rem auto 0.9rem;
  background: var(--color-primary-light-2);
  border-radius: 2.6rem;
}

.menu-button-select--num:hover {
  background: var(--color-primary-light-1);
}

.menu-button--small {
  width: 127px;
  height: 5.2rem;
  padding: 1.3rem auto 1.4rem;
  background: var(--color-secondary);
  border-radius: 2.6rem;
  opacity: 1;
}

.menu-button--small:hover {
  opacity: 0.8;
}

.btn-secondary {
  width: 149px;
  height: 5.2rem;
  padding: 1.3rem auto 1.4rem;
  background: #dfe7ec;
  color: var(--color-primary-dark-1);
  border-radius: 2.6rem;
}

.btn-secondary:hover {
  background: var(--color-primary-light-1);
}

/* ICONS */

.football::before {
  content: "\f1e3";
}

.anchor::before {
  content: "\f13d";
}

.flask::before {
  content: "\f0c3";
}

.sun::before {
  content: "\f185";
}

.hand-spock::before {
  content: "\f259";
}

.bug::before {
  content: "\f188";
}

.moon::before {
  content: "\f186";
}

.snow-flake::before {
  content: "\f2dc";
}

.lira-sign::before {
  content: "\e2bb";
}

.car::before {
  content: "\f1b9";
}

/* Start screen styles */

.start-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  background-color: var(--color-primary-dark-2);
}

.start-game {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding: 3.6rem 5.6rem;
  background: var(--color-gray-light-2);
  border-radius: 2rem;
}

.game-setting--option {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
}

.btn-wrapper {
  width: 54rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.hide {
  display: none !important;
}

/*Game board screen*/

.game-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 6.7rem;
  background-color: var(--color-gray-light-1);
}

.board-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 3rem;
}

.game-board {
  width: 532px;
  height: 532px;
  display: grid;
  gap: 2rem;
  text-align: center;
}

.stats-container {
  width: 540px;
  height: auto;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
}

.stats-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 255px;
  height: 72px;

  background: #dfe7ec;
  border-radius: 10px;
  padding: 2.1rem;
}

.game-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;
}

.game-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-container {
  position: relative;
  width: 11.8rem;
  height: 11.8rem;
  cursor: pointer;
}

.card-back,
.card-front {
  position: absolute;
  border-radius: 59px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.7s ease-out;
  backface-visibility: hidden;
}

.card-back {
  background-color: var(--color-primary-dark-1);
}

.card-front {
  background-color: var(--color-primary-light-2);
  transform: rotateY(180deg);
}

.card-container.flipped .card-back {
  transform: rotateY(180deg);
}

.card-container.flipped .card-front {
  transform: rotateY(0deg);
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%; /*1rem = 9px/16px = 56.25% */
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%; /*1rem = 8px/16px = 50% */
  }

  .btn-wrapper {
    width: 45rem;
  }

  .start-screen {
    gap: 2.8rem;
  }

  .start-game {
    padding: 3.6rem 2.6rem;
  }
}

@media (max-width: 23.45em) {
  html {
    font-size: 31.25%; /*1rem = 5px/16px = 31.25% */
  }
}

@media (min-width: 112.5em) {
  html {
    font-size: 75%; /* 1rem = 12px/16px = 75% */
  }
}
