/* Global CSS declarations*/

@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap");

:root {
  /* Colors */
  --color-secondary: #fda214;
  --color-primary: #7191a5;
  --color-primary-light-1: #6395b8;
  --color-primary-light-2: #bcced9;
  --color-primary-dark-1: #304859;
  --color-primary-dark-2: #152938;
  --color-gray-light-1: #f2f2f2;
  --color-gray-light-2: #fcfcfc;
}

/* Global CSS Reset*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root font-size */
html {
  font-size: 62.5%; /*1rem = 10px/16px = 62.25%*/
}

.icon::before {
  font: var(--fa-font-solid);
  font-size: 5.6rem;
  font-weight: 900;
  color: var(--color-gray-light-1);
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

/* Typography */

body {
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: var(--color-primary-dark-2);
}

h1 {
  font-size: 4.8rem;
  line-height: 6rem;
}

h2 {
  font-size: 3.2rem;
  line-height: 4rem;
}

h3 {
  font-size: 2rem;
  line-height: 2.5rem;
}

.btn-text {
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 3.2rem;
  text-align: center;
  color: var(--color-gray-light-2);
}

.start-logo {
  font-size: 4rem;
  line-height: 5rem;
  color: var(--color-gray-light-2);
}

.medium-text {
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4rem;
  color: var(--color-gray-light-2);
}

.big-text {
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 700;
  font-size: 5.6rem;
  line-height: 6.9rem;
  color: var(--color-primary-dark-2);
}

.stats-text {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: var(--color-primary);
}

.stats-num {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4rem;
  color: var(--color-primary-dark-1);
}

.numeral {
  font-style: normal;
  font-weight: 700;
  font-size: 5.6rem;
  line-height: 6.9rem;
  color: var(--color-gray-light-1);
}

/* Buttons */

.btn {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  box-sizing: border-box;
}

.menu-button--big {
  width: 100%;
  height: 7rem;
  padding: 1.6rem auto 1.4rem;
  background: var(--color-secondary);
  border-radius: 3.5rem;
  opacity: 1;
}

.menu-button--big:hover {
  opacity: 0.8;
}

.menu-button-select {
  width: 25.6rem;
  height: 5.2rem;
  padding: 1.1rem auto 0.9rem;
  background: var(--color-primary-light-2);
  border-radius: 2.6rem;
}

.menu-button-select:hover {
  background: var(--color-primary-light-1);
}

.menu-button-select--num {
  width: 11.9rem;
  height: 5.2rem;
  padding: 1.1rem auto 0.9rem;
  background: var(--color-primary-light-2);
  border-radius: 2.6rem;
}

.menu-button-select--num:hover {
  background: var(--color-primary-light-1);
}

.menu-button--small {
  width: 12.7rem;
  height: 5.2rem;
  padding: 1.3rem auto 1.4rem;
  background: var(--color-secondary);
  border-radius: 2.6rem;
  opacity: 1;
}

.menu-button--small:hover {
  opacity: 0.8;
}

.btn-secondary {
  width: 14.9rem;
  height: 5.2rem;
  padding: 1.3rem auto 1.4rem;
  background: #dfe7ec;
  color: var(--color-primary-dark-1);
  border-radius: 2.6rem;
}

.btn-secondary:hover {
  background: var(--color-primary-light-1);
}

.menu-button-active {
  background: var(--color-primary-light-1);
}

/* ICONS */

.football::before {
  content: "\f1e3";
}

.anchor::before {
  content: "\f13d";
}

.flask::before {
  content: "\f0c3";
}

.sun::before {
  content: "\f185";
}

.hand-spock::before {
  content: "\f259";
}

.bug::before {
  content: "\f188";
}

.moon::before {
  content: "\f186";
}

.snow-flake::before {
  content: "\f2dc";
}

.lira-sign::before {
  content: "\e2bb";
}

.car::before {
  content: "\f1b9";
}

.heart::before {
  content: "\f004";
}

.shield-halved::before {
  content: "\f3ed";
}

.diamond::before {
  content: "\f219";
}

.ring::before {
  content: "\f70b";
}

.puzzle-piece::before {
  content: "\f12e";
}

.hat-cowboy::before {
  content: "\f8c0";
}

.chess-knight::before {
  content: "\f441";
}

.scroll::before {
  content: "\f70e";
}

.leaf::before {
  content: "\f06c";
}

/* Start screen styles */

.start-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  background-color: var(--color-primary-dark-2);
}

.start-game {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding: 3.6rem 5.6rem;
  background: var(--color-gray-light-2);
  border-radius: 2rem;
}

.game-setting--option {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
}

.btn-wrapper {
  width: 54rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.hide {
  display: none !important;
}

/*Game board screen*/

.game-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-gray-light-1);
}

.board-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1rem;
}

.game-board {
  width: 50%;
  height: 100%;
  display: grid;
  gap: 1rem;
}

.stats-container {
  width: 50%;
  height: auto;
  margin: 1.5rem auto;
  display: flex;
  justify-content: space-between;
}

.stats-container--multiple {
  width: 100%;
  height: auto;
  margin: 1.5rem auto;
  display: flex;
  justify-content: space-between;
}

.stats-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25.5rem;
  height: 7.2rem;

  background: #dfe7ec;
  border-radius: 10px;
  padding: 2.1rem;
}

/* .game-buttons 
 */
.game-buttons--desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;
}
.game-buttons--mobile {
  display: none;
}

.game-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 10rem 0;
}

/* Winner screen
*/
.winner-screen {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  margin: 0 auto;
  width: 654px;
  height: 510px;
  background: var(--color-gray-light-1);
  border-radius: 20px;
  padding: 5.6rem;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
}

.winner-screen.active {
  display: block;
  transform: translate(-50%, -50%) scale(1);
}

.winner-screen_title {
  font-style: normal;
  font-weight: 700;
  margin-bottom: 16px;
  text-align: center;
  line-height: normal;
  color: var(--color-primary-dark-2);
}

.winner-screen_text {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
  line-height: normal;
  color: var(--color-primary);
}

.winner-screen_stats {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
}

.winner-screen_stat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background: #dfe7ec;
  padding: 25px 32px;
}

.winner-screen_stat--text {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--color-primary);
}

.winner-screen_stat--num {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--color-primary-dark-1);
}

.winner-screen_buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
}

#high-score {
  color: var(--color-primary-dark-1);
}

.btn-text.btn-screen {
  width: 100%;
  height: 52px;
}

/* Card styles */
.card-container {
  position: relative;

  cursor: pointer;
}

.card-container--4 {
  width: 11rem;
  height: 11rem;
}

.card-container--6 {
  width: 7rem;
  height: 7rem;
}

.card-back,
.card-front {
  position: absolute;
  border-radius: 5.9rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.7s ease-out;
  backface-visibility: hidden;
}

.card-back {
  background-color: var(--color-primary-dark-1);
}

.card-front {
  background-color: var(--color-primary-light-2);
  transform: rotateY(180deg);
}

.card-container.flipped .card-back {
  transform: rotateY(180deg);
}

.card-container.flipped .card-front {
  transform: rotateY(0deg);
}

.card-container.matched .card-front {
  background-color: var(--color-secondary);
}

/*Pop up windows*/

/* Button Pop up window */

.btn-modal-mobile {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  margin: 0 auto;
  width: 80%;
  height: 224px;
  background: var(--color-gray-light-1);
  border-radius: 10px;
  padding: 2.4rem;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
}

.btn-modal-mobile.active {
  transform: translate(-50%, -50%) scale(1);
}

.btn-text.btn-modal {
  width: 100%;
  height: 30%;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

@media (min-width: 112.5em) {
  html {
    font-size: 75%; /* 1rem = 12px/16px = 75% */
  }
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%; /*1rem = 9px/16px = 56.25% */
  }
  .stats-container {
    width: 65%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%; /*1rem = 8px/16px = 50% */
  }

  .btn-wrapper {
    width: 45rem;
  }

  .start-screen {
    gap: 2.8rem;
  }

  .start-game {
    padding: 3.6rem 2.6rem;
  }
}

@media (max-width: 37.5em) {
  .game-controls {
    margin: 2rem 5rem 0;
  }
  .board-wrapper {
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  .game-board {
    width: 80%;
    height: 90%;
  }
  .stats-container {
    width: 90%;
  }
  .game-buttons--desktop {
    display: none;
  }
  .game-buttons--mobile {
    display: block;
  }
}

@media (max-width: 23.45em) {
  html {
    font-size: 31.25%; /*1rem = 5px/16px = 31.25% */
  }
}
